.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 30px;
    flex-direction: row;
    padding-bottom: 20px;
}

.h1 {
    margin: 5px; 
}

.surname-container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 20vh;
    gap: 30px;
    flex-direction: row;
    padding-bottom: 20px;
}


.icon-container, .surname-container {
    background-color: #8DD06C;
    margin: 0 auto 20px auto;
    
}


